@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');


* {
  font-family: 'Sen', sans-serif;
  margin: 0; 
  padding: 0;
    text-decoration: none;
  color: black;
}

body {
  
  text-align: center;
  text-decoration: none;
  font-family: 'Sen', sans-serif;
      background-image: url(https://cdn.dribbble.com/users/247458/screenshots/5083720/wallpaper2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }
}

.mybox{
    margin-top: 1%;
    margin-bottom: 1%;
}

.main{
    margin-top: 10%;
}